node_modules
.turbo
.next
dist
build
.expo
.expo-shared
*.log
.env
.env.local
.env.*.local
apps/mobile/.env
apps/flutter/.env
apps/web/.env
apps/web/.env.local
apps/web/prisma/dev.db
apps/web/prisma/dev.db-journal
coverage
*.tsbuildinfo
.DS_Store
Thumbs.db
android
ios
web-build
